﻿<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Страница об игре</MudNavLink>
    <MudNavLink Href="game" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Игра</MudNavLink>
</MudNavMenu>
