﻿@page "/game"

<PageTitle>Угадай число</PageTitle>

<MudContainer Style="display: flex">
    <MudPaper Style="width: 300px; height: 300px; margin-right: 50px">
        <MudButton Style="margin-bottom: 25px;" Variant="Variant.Filled" Color="Color.Secondary" OnClick="_ => StartGame()">Начать игру</MudButton>

        <MudContainer Style="margin-bottom: 25px;">
            <MudText Typo="Typo.h5">Программа загадала число от @Settings.MinNumber до @Settings.MaxNumber, у вас осталось @Attempts попыток</MudText>
            <MudText Typo="Typo.h6">Введите ваше предположение</MudText>
            <MudTextField T="int" Value="@EnteredValue" ValueChanged="value => ChangingValue(value)"></MudTextField>
        </MudContainer>
        <MudText Typo="Typo.h5">@ResultText</MudText>

    </MudPaper>


    <MudPaper Style="width: 300px; height: 300px;">
        <MudButton Style="margin-bottom: 25px;" Variant="Variant.Filled" Color="Color.Secondary" OnClick="_ => ChangeSettings()">Изменить настройки</MudButton>

        <MudContainer Style="margin-bottom: 25px;">
            <MudTextField @bind-Value="@Settings.MaxAttempts" Label="Максимальное число попыток"></MudTextField>
            <MudTextField @bind-Value="@Settings.MinNumber" Label="Минимальное число"></MudTextField>
            <MudTextField @bind-Value="@Settings.MaxNumber" Label="Максимальное число"></MudTextField>
        </MudContainer>
    </MudPaper>
</MudContainer>