﻿@page "/"

<PageTitle>Начальная страница</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Задание для курса OTUS</MudText>
<MudText Class="mb-8">
    Домашнее задание
    Демонстрация SOLID принципов

    Цель:
    Практическое применение SOLID принципов.

    Описание/Пошаговая инструкция выполнения домашнего задания:

    На примере реализации игры «Угадай число» продемонстрировать практическое применение SOLID принципов.

    Программа рандомно генерирует число, пользователь должен угадать это число. При каждом вводе числа программа пишет больше или меньше отгадываемого. Кол-во попыток отгадывания и диапазон чисел должен задаваться из настроек.

</MudText>


